In [10]:

import pandas as pd

# Load the dataset
df = pd.read_csv('C:/Users/vaibh/Downloads/archive (6)/train.csv')
# Preview the first few rows
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680

In [12]:
# Checks the shape of the dataset
print("Shape:", df.shape)

# Checks data types and missing values info
df.info()

# Summary statistics for both numerical and categorical columns
df.describe(include='all')

Shape: (9800, 18)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9800 entries, 0 to 9799
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9800 non-null   int64
 1   Order ID       9800 non-null   object
 2   Order Date     9800 non-null   object
 3   Ship Date      9800 non-null   object
 4   Ship Mode      9800 non-null   object
 5   Customer ID    9800 non-null   object
 6   Customer Name  9800 non-null   object
 7   Segment        9800 non-null   object
 8   Country        9800 non-null   object
 9   City           9800 non-null   object
 10  State          9800 non-null   object
 11  Postal Code    9789 non-null   float64
 12  Region         9800 non-null   object
 13  Product ID     9800 non-null   object
 14  Category       9800 non-null   object
 15  Sub-Category   9800 non-null   object
 16  Product Name   9800 non-null   object
 17  Sales          9800 non-null   float64
dtypes: float64(2), int64(1), object(15)
memory usage: 1.3+ MB

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
count,9800.000000,9800,9800,9800,9800,9800,9800,9800,9800,9800,9800,9789.000000,9800,9800,9800,9800,9800,9800.000000
unique,NaN,4922,1230,1326,4,793,793,3,1,529,49,NaN,4,1861,3,17,1849,NaN
top,NaN,CA-2018-100111,05/09/2017,26/09/2018,Standard Class,WB-21850,William Brown,Consumer,United States,New York City,California,NaN,West,OFF-PA-10001970,Office Supplies,Binders,Staple envelope,NaN
freq,NaN,14,38,34,5859,35,35,5101,9800,891,1946,NaN,3140,19,5909,1492,47,NaN
mean,4900.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55273.322403,NaN,NaN,NaN,NaN,NaN,230.769059
std,2829.160653,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32041.223413,NaN,NaN,NaN,NaN,NaN,626.651875
min,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1040.000000,NaN,NaN,NaN,NaN,NaN,0.444000
25%,2450.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23223.000000,NaN,NaN,NaN,NaN,NaN,17.248000
50%,4900.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58103.000000,NaN,NaN,NaN,NaN,NaN,54.490000
75%,7350.250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90008.000000,NaN,NaN,NaN,NaN,NaN,210.605000
max,9800.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99301.000000,NaN,NaN,NaN,NaN,NaN,22638.480000

In [14]:
# Checks missing values per column
missing = df.isnull().sum()
missing_percent = (missing / len(df)) * 100

# Display columns with missing data
missing_data = pd.DataFrame({
    'Missing Values': missing,
    'Percent (%)': missing_percent
})
missing_data = missing_data[missing_data["Missing Values"] > 0]
print(missing_data)

             Missing Values  Percent (%)
Postal Code              11     0.112245

In [16]:
#  missing values in 'Postal Code' with the mode (most frequent value)
mode_postal = df['Postal Code'].mode()[0]
df['Postal Code'] = df['Postal Code'].fillna(mode_postal)

In [18]:
# Count duplicates
print("Duplicate rows:", df.duplicated().sum())

# Drop duplicates
df.drop_duplicates(inplace=True)

# Confirmed  duplicates are removed
print("Duplicates after cleaning:", df.duplicated().sum())

Duplicate rows: 0
Duplicates after cleaning: 0

In [20]:
# Clean column headers: lowercase + replace spaces with underscores
df.columns = df.columns.str.lower().str.strip().str.replace(' ', '_')

# Replace internal spaces in string/text columns with underscores
text_cols = df.select_dtypes(include='object').columns
for col in text_cols:
    df[col] = df[col].str.replace(" ", "_")

In [22]:
# Convert date columns to datetime format
df['order_date'] = pd.to_datetime(df['order_date'], errors='coerce')
df['ship_date'] = pd.to_datetime(df['ship_date'], errors='coerce')

# Convert 'postal_code' to integer
df['postal_code'] = df['postal_code'].astype(int)

# Convert some columns to 'category' type to save memory
cat_cols = ['ship_mode', 'segment', 'country', 'city', 'state',
            'region', 'category', 'sub-category']
for col in cat_cols:
    df[col] = df[col].astype('category')

In [24]:
# Use IQR to remove outliers from 'sales'
Q1 = df['sales'].quantile(0.25)
Q3 = df['sales'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Filter out outliers
df_cleaned = df[(df['sales'] >= lower_bound) & (df['sales'] <= upper_bound)]

# Optional: Check how many rows were removed
print("Rows removed due to outliers:", df.shape[0] - df_cleaned.shape[0])

Rows removed due to outliers: 1145

In [26]:
# Identify categorical columns (object or category types)
categorical_cols = df_cleaned.select_dtypes(include=['object', 'category']).columns

# Apply One-Hot Encoding
df_encoded = pd.get_dummies(df_cleaned, columns=categorical_cols, drop_first=True)

# Check new shape after encoding
print("Shape after encoding:", df_encoded.shape)

Shape after encoding: (8655, 10346)

In [28]:
from sklearn.preprocessing import StandardScaler

# Select numeric columns
numeric_cols = df_encoded.select_dtypes(include=['int64', 'float64']).columns

# Apply Standard Scaling
scaler = StandardScaler()
df_encoded[numeric_cols] = scaler.fit_transform(df_encoded[numeric_cols])

# Check the result after scaling
df_encoded[numeric_cols].describe().round(2)

        row_id  postal_code    sales
count  8655.00      8655.00  8655.00
mean      0.00         0.00     0.00
std       1.00         1.00     1.00
min      -1.74        -1.70    -0.81
25%      -0.87        -1.00    -0.68
50%       0.00         0.14    -0.46
75%       0.86         1.08     0.27
max       1.73         1.37     3.55

In [30]:
df

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,state,postal_code,region,product_id,category,sub-category,product_name,sales
0,1,CA-2017-152156,2017-08-11,2017-11-11,Second_Class,CG-12520,Claire_Gute,Consumer,United_States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush_Somerset_Collection_Bookcase,261.9600
1,2,CA-2017-152156,2017-08-11,2017-11-11,Second_Class,CG-12520,Claire_Gute,Consumer,United_States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon_Deluxe_Fabric_Upholstered_Stacking_Chairs,...",731.9400
2,3,CA-2017-138688,2017-12-06,NaT,Second_Class,DV-13045,Darrin_Van_Huff,Corporate,United_States,Los_Angeles,California,90036,West,OFF-LA-10000240,Office_Supplies,Labels,Self-Adhesive_Address_Labels_for_Typewriters_b...,14.6200
3,4,US-2016-108966,2016-11-10,NaT,Standard_Class,SO-20335,Sean_O'Donnell,Consumer,United_States,Fort_Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford_CR4500_Series_Slim_Rectangular_Table,957.5775
4,5,US-2016-108966,2016-11-10,NaT,Standard_Class,SO-20335,Sean_O'Donnell,Consumer,United_States,Fort_Lauderdale,Florida,33311,South,OFF-ST-10000760,Office_Supplies,Storage,Eldon_Fold_'N_Roll_Cart_System,22.3680
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9795,9796,CA-2017-125920,NaT,NaT,Standard_Class,SH-19975,Sally_Hughsby,Corporate,United_States,Chicago,Illinois,60610,Central,OFF-BI-10003429,Office_Supplies,Binders,"Cardinal_HOLDit!_Binder_Insert_Strips,Extra_St...",3.7980
9796,9797,CA-2016-128608,2016-12-01,NaT,Standard_Class,CS-12490,Cindy_Schnelling,Corporate,United_States,Toledo,Ohio,43615,East,OFF-AR-10001374,Office_Supplies,Art,"BIC_Brite_Liner_Highlighters,_Chisel_Tip",10.3680
9797,9798,CA-2016-128608,2016-12-01,NaT,Standard_Class,CS-12490,Cindy_Schnelling,Corporate,United_States,Toledo,Ohio,43615,East,TEC-PH-10004977,Technology,Phones,GE_30524EE4,235.1880
9798,9799,CA-2016-128608,2016-12-01,NaT,Standard_Class,CS-12490,Cindy_Schnelling,Corporate,United_States,Toledo,Ohio,43615,East,TEC-PH-10000912,Technology,Phones,Anker_24W_Portable_Micro_USB_Car_Charger,26.3760
9799,9800,CA-2016-128608,2016-12-01,NaT,Standard_Class,CS-12490,Cindy_Schnelling,Corporate,United_States,Toledo,Ohio,43615,East,TEC-AC-10000487,Technology,Accessories,SanDisk_Cruzer_4_GB_USB_Flash_Drive,10.3840

In [32]:
# Check the number of rows and columns
print("Shape of the dataset:", df.shape)

# Check column names, data types, and non-null counts
df.info()

# Show basic statistics (mean, std, min, max, etc.)
df.describe(include='all')

Shape of the dataset: (9800, 18)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9800 entries, 0 to 9799
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   row_id         9800 non-null   int64
 1   order_id       9800 non-null   object
 2   order_date     3959 non-null   datetime64[ns]
 3   ship_date      3815 non-null   datetime64[ns]
 4   ship_mode      9800 non-null   category
 5   customer_id    9800 non-null   object
 6   customer_name  9800 non-null   object
 7   segment        9800 non-null   category
 8   country        9800 non-null   category
 9   city           9800 non-null   category
 10  state          9800 non-null   category
 11  postal_code    9800 non-null   int64
 12  region         9800 non-null   category
 13  product_id     9800 non-null   object
 14  category       9800 non-null   category
 15  sub-category   9800 non-null   category
 16  product_name   9800 non-null   object
 17  sales          9800 non-null   float64
dtypes: category(8), datetime64[ns](2), float64(1), int64(2), object(5)
memory usage: 875.1+ KB

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,state,postal_code,region,product_id,category,sub-category,product_name,sales
count,9800.000000,9800,3959,3815,9800,9800,9800,9800,9800,9800,9800,9800.000000,9800,9800,9800,9800,9800,9800.000000
unique,NaN,4922,NaN,NaN,4,793,793,3,1,529,49,NaN,4,1861,3,17,1849,NaN
top,NaN,CA-2018-100111,NaN,NaN,Standard_Class,WB-21850,William_Brown,Consumer,United_States,New_York_City,California,NaN,West,OFF-PA-10001970,Office_Supplies,Binders,Staple_envelope,NaN
freq,NaN,14,NaN,NaN,5859,35,35,5101,9800,891,1946,NaN,3140,19,5909,1492,47,NaN
mean,4900.500000,NaN,2017-03-14 18:19:11.199798016,2017-04-09 17:04:02.516382720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55222.544694,NaN,NaN,NaN,NaN,NaN,230.769059
min,1.000000,NaN,2015-01-02 00:00:00,2015-01-04 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1040.000000,NaN,NaN,NaN,NaN,NaN,0.444000
25%,2450.750000,NaN,2016-04-05 00:00:00,2016-04-12 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23223.000000,NaN,NaN,NaN,NaN,NaN,17.248000
50%,4900.500000,NaN,2017-05-02 00:00:00,2017-06-06 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57551.000000,NaN,NaN,NaN,NaN,NaN,54.490000
75%,7350.250000,NaN,2018-03-07 00:00:00,2018-05-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90008.000000,NaN,NaN,NaN,NaN,NaN,210.605000
max,9800.000000,NaN,2018-12-11 00:00:00,2019-05-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99301.000000,NaN,NaN,NaN,NaN,NaN,22638.480000
std,2829.160653,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32059.043706,NaN,NaN,NaN,NaN,NaN,626.651875